:root {
  --text: rgb(92, 92, 92);
  --clickable: rgb(124, 135, 178);
  --orange: rgb(168, 110, 35);
  --green: green;
  --row-bg: rgb(27, 29, 39);
}

@font-face {
  font-family: "JetBrains";
  src: local("JetBrains Mono"), url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}

body {
  background-color: rgb(20, 21, 25);
  color: #bbb;
  font-variant: small-caps;
  font-family: "JetBrains", monospace;
  margin: 2em;
}

#Main {
  width: 65%;
}

#Sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  // background-color: rgb(61, 61, 61);
  padding: 2em;
  border-left: 2px solid var(--orange);
  overflow-y: scroll;
}

.page {
  border: 1px solid #888;
  margin: 1em;
  padding: 1em;
}

.scene {
  border: 1px dotted #8ac;
  margin: 1em;
  padding: 1em;
}

#champions {
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr;
  gap: 1em;
  background-color: var(--row-bg);
  margin: 0.25em;
}

.row.standings {
  grid-template-columns: repeat(3, 1fr);
}

.row.champion {
  background-color: rgb(177, 161, 69);
  color: black;
}

.row .name {
}

.clickable {
  cursor: pointer;
  color: var(--clickable);
}

.clickable:hover {
  text-decoration: underline;
}

.race {
  display: inline-block;
}
.race::before {
  content: "⬤";
  color: var(--text);
  font-size: 0.5em;
}
.race:hover:before {
  // color: green;
}
.race.highlight::before {
  color: var(--green);
}
.race.highlight.year::before {
  color: var(--green);
}

.driver {
}
