:root {
  --text: rgb(92, 92, 92);
  --clickable: rgb(124, 135, 178);
  --orange: rgb(168, 110, 35);
  --green: green;
  --row-bg: rgb(27, 29, 39);
  --gold: rgb(193, 168, 42);
  --silver: rgb(134, 136, 143);
  --bronze: rgb(101, 62, 30);
  --other: rgb(45, 65, 88);
}

@font-face {
  font-family: "JetBrains";
  src: local("JetBrains Mono"), url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}

body {
  background-color: rgb(20, 21, 25);
  color: #bbb;
  font-variant: small-caps;
  font-family: "JetBrains", monospace;
  margin: 2em;
}

#Main {
  width: 55%;
}

#Sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  // background-color: rgb(61, 61, 61);
  padding: 2%;
  border-left: 2px solid var(--orange);
  overflow-y: scroll;
}

.sidebarItem {
  padding: 0.5em;
}

.page {
  border: 1px solid #888;
  margin: 1em;
  padding: 1em;
}

.scene {
  border: 1px dotted #8ac;
  margin: 1em;
  padding: 1em;
}

#champions {
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr;
  gap: 1em;
  background-color: var(--row-bg);
  margin: 0.25em;
  padding: auto 0.5em;
}

.row.scene2 {
  grid-template-columns: 1fr 3fr 1fr 1fr 3fr;
}

.row.scene3 {
  grid-template-columns: 1fr 1fr 4fr 3fr;
}

.row.legend {
  grid-template-columns: 1fr 1fr 7fr;
}

.row .name {
}

.clickable {
  cursor: pointer;
  color: var(--clickable);
}

.clickable:hover {
  text-decoration: underline;
}

.race {
  display: inline-block;
}
.race::before {
  content: "⬤";
  color: var(--text);
  font-size: 0.5em;
}
.race:hover:before {
  // color: green;
}
.race.highlight::before {
  color: var(--green);
}
.race.highlight.year::before {
  color: var(--green);
}

.race.gold::before {
  color: var(--gold);
}
.race.silver::before {
  color: var(--silver);
}
.race.bronze::before {
  color: var(--bronze);
}
.race.other::before {
  color: var(--other);
}

#Scene2 {
}

.champions {
}

.timelines {
}

.scene2row {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;

  // border: 1px dotted slateblue;
  // margin-bottom: 0.5em;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(32, minmax(6px, 1fr));
  grid-template-rows: 20px;
  gap: 0;
  overflow: hidden;
  // border: 1px dotted orange;
}
.timelineYear {
  background-color: rgb(99, 67, 16);
  border: 1px solid rgba(0, 0, 0, 1);
  height: 100%;
}
.timelineYear.highlighted {
  border-color: #888;
}
.tick {
  color: #888;
  border: 1px solid #444;
  overflow-x: visible;
  opacity: 0;
}
.tick:hover,
.tick.highlighted {
  opacity: 1;
}

.driver:hover,
.driver.highlighted {
  background-color: #444;
}

.champion {
  background-color: var(--gold) !important;
  color: black !important;
}
.missing {
  background-color: #222 !important;
  color: #555 !important;
}

.pointsChart {
  position: relative;
  padding: 5px;
}
.points {
  // background-color: rgb(100, 100, 100, 0.2);
  // width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-right: 3px solid orange;
  position: absolute;
  top: 0;
  left: 0;
}
.points.gold {
  border-color: var(--gold);
}
.points.silver {
  border-color: var(--silver);
}
.points.bronze {
  border-color: var(--bronze);
}
